<!doctype html>
<html lang="lt">

<head>
  <meta charset="utf-8" />
  <title>Orai Lietuvoje</title>
  <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
  <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
</head>

<body>
  <div class="mui-container">
    <div class="mui-panel">
      <form method="GET" class="mui-form">
        <div>
          <label>Miestai:</label>
          <select id="place" name="place">
            {{range .Options }}
            <option value="{{.Name}}" id="{{.Name}}" {{if eq .Name $.Selected.Name}}selected{{end}}>{{.Name}}
            </option>
            {{end}}
          </select>
        </div>
        <input type="submit" value="Rodyti" class="mui-btn mui-btn--primary">
      </form>
      <div class="mui-divider"></div>
      <h1>{{.Selected.Name}}</h1>
      <table class="mui-table mui-table--bordered">
        <thead>
          <tr>
            <th>Kada</th>
            <th>Temperatūra</th>
            <th>Krituliai</th>
          </tr>
        </thead>
        <tbody>
          {{range .Forecast.Weather}}
          <tr>
            <td>{{.DateTime}}</td>
            <td>{{.Temperature}}</td>
            <td>{{.Humidity}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>